body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header {
    height: auto;
    background: #87509c;
    padding-bottom: 120px;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.flex {
    display: flex;
    
}
.flex-space-between{
    justify-content: space-between;
}
.inline-flex {
    display: inline-flex;
    margin-top: 70px;
    margin-right: 195px;
    
}

.inline-flex li {
    margin-left: 11px;
    list-style-type: none;
}

.logo {
    margin-top: 50px;
    margin-left: 215px;
}

.header nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    border-radius: 7px;
    padding: 10px 17px;
}

.inline-flex li a:hover {
    background-color: #643a79;
    background: #643a79;
    padding: 10px 17px;
    border-radius: 7px;
}

.flex-center {
    justify-content: center;
    margin-top: 145px;
    flex-direction: column;
}
.flex-center h1 {
    
    font-weight: bold;
    font-size: 23pt;
    color: white;
    max-width: 920px;
    text-align: center;
    align-self: center;
}

.work_button {
    align-self: center;
    margin-top: 40px;
    background: #eb7d4b;
    color: white;
    border-radius: 5px;
    display: block;
	width: 295px;
    padding: 20px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

.flex-center a:hover {
    background-color: #ffb35e;
    padding: 20px 0;
    border-radius: 5px;
}


.service {
    height: auto;
    background: #17c2a4;
    margin: 0;
    padding-bottom: 120px;
}

.ser-center {
    justify-content: space-around;
    flex-direction: column;
}

.ser-center h1 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
    margin-top: 145px;
    text-align: center;
}
.line {
    align-self: center;
}
.sh1 {
    align-self: center;
}
.sertext {
    align-self: center;
    font-size: 18px;
    color: white;
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 60px;
}



.serv-block {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.serv-block p {
    font-size: 16px;;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.serv-block h1 {
    text-transform: uppercase;
    font-size: 20px;
}
.team {
    height: auto;
    background: #e7f1f8;
    margin: 0;
    padding-bottom: 120px;
}

.team h1 {
    font-size: 40px;
    color: #3c4761;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
    text-align: center;
}

.team-text {
    align-self: center;
    font-size: 18px;
    color: #3c4761;
    max-width: 700px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 80px;
}

.team-block {
    text-align: center;
    width: 200px;
    margin-left: 0px;
    padding: 20px;
}

.team-block h1 {
    font-size: 20px;
    letter-spacing: unset;
    color: #3c4761;
    margin-bottom: 8px;
}

.team-block p {
    letter-spacing: unset;
    color: #3c4761;
    line-height: 1.5;
    height: 100px;
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
}

.team-block a {
    letter-spacing: unset;
    color: #30bae7;
}

.team-flex-contact {
    justify-content: center;
    width: 198px;
}
.team-flex-contact img {
    margin-right: 8px;
}

.skills {
    height: auto;
    margin: 0;
    padding-bottom: 120px;
}

.skills-header {
    margin-top: 115px;
    flex-direction: column;
    color: #3c4761;
}

.skills-h1 {
    align-self: center;
}

.skills-p{
    align-self: center;
    max-width: 580px;
}
.skills-img {
    align-self: center;
}

.skills-h1 h1 {
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 42px;
}

.skills-p p {
    text-align: center;
}

.skills-block { 
    width: 200px;
    text-align: center;
    margin-top: 85px;
    padding: 20px;
}
.skills-block h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.portfolio {
    height: auto;
    background: #ffdd99;
    padding-bottom: 100px;
}
.portfolio-header {
    flex-direction: column;
    color: #393939;
}
.portfolio-h1{
    margin-top: 115px;
     align-self: center;
}

.portfolio-h1 h1{
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 2px;
}
.portfolio-img {
    align-self: center;
}
.portfolio-p {
    align-self: center;
    max-width: 530px;
}
.portfolio-p p{
    text-align: center;
    font-size: 18px;
}
.portfolio-but {
    align-self: center;
}
.portfolio-menu {
    display: inline-flex;
    margin-top: 45px;
    list-style-type: none;
}


.portfolio nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color:#393939;
    border-radius: 7px;
    padding: 13px 28px;
    background: #ebc985;
    margin-right: 10px;
}
.portfolio li a:hover {
    background-color: white;
    background: white;
    padding: 13px 28px;
    border-radius: 7px;
}


.portfolio-block {
    margin-top: 60px;
    text-align: center;
    color: #393939;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
 }

 .load_button {
    align-self: center;
    margin-top: 80px;
    margin-bottom: 60px;
    background: #17c2a4;
    color: white;
    border-radius: 5px;
    display: block;
	width: 295px;
    padding: 20px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}
.portfolio img {
    width: 300px;
    height: auto;

}
.review {
    height: auto;
    background: #d74680;
    padding-bottom: 100px;
}
.review-header {
    flex-direction: column;
    color: white;
    margin-bottom: 50px;
}

.review-h1 {
    margin-top: 120px;
    text-align: center;
    align-self: center;
}
.review-h1 h1 {
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.review-img {
    align-self: center;
}
.review-p {
    align-self: center;
}

.review-block {
    max-width: 500px;
    flex-direction: row;
    color: white;
    margin-bottom: 120px;
    padding: 30px;
}
.review-block h1 {
    text-align: left;
    margin-bottom: 2px;
}
.review-block p {
    line-height: 1.5;
    font-style: italic;
    font-size: 21px;
}
.review-text {
    max-width: 350px;
    margin-left: 5px;
}
.review-text a{
    color: #fcd397;
}
.contacts {
    height: 820px;
    background: #3c5499;
}
.contacts-header {
    flex-direction: column;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
.contacts-input-block {
    flex-wrap: wrap;
    justify-content: center;
}

.input-name{
    border: 1px solid #273a71;
    border-radius: 5px;
    background: #273a71 !important; 
    outline: none;
    height: 55px;
    width: 29%;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
 }
textarea {
    border: 1px solid #273a71;
    border-radius: 5px;
    background: #273a71 !important; 
    outline: none;
    height: 200px;
    width: 61%;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
   .send-message-button {
    margin-top: 60px;
    background: #17c2a4;
    color: white;
    border-radius: 5px;
    display: block;
	width: 295px;
    padding: 20px 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
   }
   .send-center {
       justify-content: center;
   }

   .footer {
    height: 115px;
    background: #344b8e; 
   }
   .footer-inline-menu {
        display: inline-flex;
        list-style-type: none;
   }
   .footer-menu {
       border: 1px solid gold;
       justify-content: center;
   }
   .footer-menu a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    margin-right: 55px;
    color: white;
   }
   
   .footer-menu a:hover {
       color: #30bae7;
   }
   .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.4); /* Увеличиваем масштаб */
   }